/* リセットcss */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font-family: 'Roboto', 'Noto Sans Japanese', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

h2,h3,h4,h5 {
  /* font-family: 'Noto Serif JP', serif; */
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* 記載内容 */
header {
  background-color: rgba(255, 211, 211, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-title {
  font-size: 1.8rem;
  padding: 20px 0;
  margin-left: 5%;
  text-align: center;
  width: 93%;
}

.header-nav {
  display: none;
}

.hamburger {
  height: 40px;
  width: 6%;
  position: relative;
  margin-right: 5%;
}

.hamburger span {
  height: 2px;
  width: 100%;
  background-color: black;
  position: absolute;
  border-radius: 10px;
}

.hamburger span:nth-of-type(1) {
  top: 10px;
}
.hamburger span:nth-of-type(2) {
  top: 20px;
}
.hamburger span:nth-of-type(3) {
  top: 30px;
}

/* main */
.top_eyecatch {
  position: relative;
  margin-bottom: 10%;
}

.top_image {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.top_eyecatch h2 {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 227, 227, 0.76);
  font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 3% 1%;
}

.top_eyecatch p {
  text-align: right;
  color: rgba(255, 20, 203, 1);
  padding: 3%;
  font-size: 1.3rem;
  font-weight: bold;
}

.summary {
  width: 80%;
  margin: 0 auto;
}

.summary_block {
  margin: 0 auto;
}

.summary h2 {
  text-align: center;
  font-size: 1.8rem;
  padding: 3% 0 4% 0;
}

.summary img {
  width: 80%;
  display: block;
  margin: 3% auto 10%;
}


.first-text,
.second-text {
  width: 100%;
  font-size: 1.0rem;
  margin-bottom: 5%;
}

.second-text {
  margin-bottom: 50px;
}

.sympathy_part {
  text-align: center;
}

.sympathy_part h2 {
  font-size: 1.6rem;
  color: #FF5757;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-bottom: 40px;
}

.sympathy_part ul {
  text-align: left;
  font-weight: bold;
  width: 70%;
  margin: 0 auto 30px;

}

.sympathy_part li {
  list-style: square;
}

.sympathy_part p {
  text-align: center;
}

.sympathy_img img {
  width: 80%;
}

.formBalloon {
  padding-bottom: 13px;
  display: block;
  text-align: center;
}
.formBalloon .formBalloonContent {
  border-radius: 3px 3px 0px 0px;
  width: 20px;
  height: 50px;
  position: relative;
  background: #101177;
  left: 50%;
  transform: translate(-50%, 0);
}
.formBalloon .formBalloonArrow{
  border: 30px solid transparent;
  border-top: 30px solid #101177;
  position: absolute;
  height: 0;
  width: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.appeal {
  color: red;
  font-size: 2rem;
  font-weight: bold;
  margin: 30px 0 20px;
}

.sympathy_part button {
  background-color: #FFDEDE;
  border: none;
  border-radius: 10px;
  padding: 10px 8px;
  margin: 30px 0;
}

.delimiter {
  
  width: 70%;
  height: 5px;
  border: 1px solid #EBDBCC;
  border-radius: 10px;
  background-color: #EBDBCC;
  margin: 0 auto;
  
}

.benefit_contents {
  background-color: rgba(255, 221, 221, 0.38);
  margin: 30px 0 50px;
  text-align: center;
}

.benefit_content {
  text-align: left;
}
.img_pc {
  display: none;
}

.content {
  padding: 40px 0 20px;
}

.content h2 {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.sub_title {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(255, 52, 39, 1);
  margin: 20px 0;
}

.content img {
  width: 80%;
}

.content_description {
  font-size: 1.0rem;
  line-height: 30px;
  width: 80%;
  padding: 50px 0;
  margin: 0 auto;
}

.content_description2 {
  font-size: 1.0rem;
  line-height: 30px;
  width: 80%;
  padding: 50px 0;
  margin: 0 auto;
}

.flower_language {
  background-color: rgba(255, 167, 167, 0.4);
  margin: 50px 0;
  padding: 30px 0;
}

.flower_language h2 {
  font-size: 1.5rem;
  text-align: center;
  padding: 20px 0;
}

.flower_language h3 {
  text-align: center;
  padding: 20px 0;
}

.flower_detail {
  padding: 20px 0;
  text-align: center;
}
.flower_detail p {
  margin: 0 auto;
  margin-bottom: 15px;
  color: red;
}

.home_layout {
  font-size: 1.4rem;
  text-align: center;
  margin: 10px 0;
}

.home_layout img {
  width: 80%;
  margin: 40px 0;
}

.problem_content {
  margin: 50px 0;
}

.problem_content p {
  font-size: 1.3rem;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
}

.solution_area {
  border: 1px solid gray;
  border-radius: 10px;
  width: 85%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 4%;
}

.solution_area h3 {
  font-size: 1.1rem;
  background-color: #FFD7D7;
  text-align: center;
  border: none;
  border-radius: 10px;
  width: 85%;
  padding: 10px 0;
  margin: 0 auto 10px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, 0);
}

.solution_area ol {
  width: 60%;
  margin: 40px auto 0;
  /* text-align: center; */
}

.solution_area li {
  margin: 10px 0;
}

.lineup_area {
  margin: 40px 0;
  background: rgba(173, 173, 173, 0.12);
}

.lineup_title {
  text-align: center;
  padding: 40px 0;
}

.lineup_title h2 {
  font-size: 1.6rem;
  padding-bottom: 25px;
}

.product_area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  width: 40%;
}

.product_image img {
  width: 90%;
  margin: 20px auto;
}

.shipping_title {
  margin: 50px 0 30px;
  text-align: center;
  font-size: 1.6rem;
}

.shipping {
  margin: 30px auto 10px;
  width: 70%;
}

.shipping tr {
  border: 1px solid gray;
}

.shipping th {
  border-right: 1px solid gray;
}

.shipping th,
.shipping td {
  padding: 10px 20px;
  text-align: center;
}

.shipping_info p {
  width: 70%;
  margin: 0 auto;
}

.cta_area {
  text-align: center;
  margin: 20px;
  padding-bottom: 20px;
}

.cta_area p {
  padding: 20px;
  font-size: 1.2rem;
  color: red;
  text-decoration:  underline;
  font-weight: bold;
}

.cta_area button {
  background-color: #FFDEDE;
  border: none;
  border-radius: 10px;
  padding: 10px 8px;
  margin: 30px 0 10px;
}

.information {
  margin: 10%;
}

.information h2 {
  text-align: center; 
  font-size: 1.7rem;
  margin: 40px 0 30px;
}

.sns {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.info {
  padding: 10px;
}

.info img {
  width: 60%;
  margin: 10px 0 40px;
}

.contact {
  margin: 10% auto;
  width: 90%;
}

.contact h2 {
  font-size: 1.6rem;
  text-align: center;
  margin: 60px 0 30px;
}


.contact_form {
  border: 1px solid gray;
  border-bottom: none;
  margin: 0 auto;
  width: 70%;
}


.contact_form th,
.contact_form td {
  display: block;
}

.contact_form th,
.contact_form td {
  border-bottom: 1px solid gray;
  width: 100%;
}

.contact_form th {
  height: 40px;
  line-height: 40px;
  background-color: rgba(255, 211, 211, 1);
}

.contact_form input,
.contact_form textarea {
  width: 93%;
  border: none;
  background-color: #f8f8f8;
  margin: 5px 3%;
}

.contact_form input {
  height: 30px;
}

.contact_form textarea {
  height: 150px;
}

.contact_submit {
  font-size: 1.2rem;
  display: block;
  margin: 20px auto;
  background-color: #FFDEDE;
  border: none;
  border-radius: 10px;
  padding: 2% 5%;
}

.company {
  margin: 20px 0;
}

.company h2 {
  font-size: 1.6rem;
  text-align: center;
  margin: 30px 0;
}
.company_detail {
  display: flex;
  align-items: center;
}

.map_img {
  width: 60%;
  margin: 0 0 0 5%;
}
.map_img img {
  width: 90%;
}

.company_info {
  margin: 0 5%;
}

footer {
  background-color: rgba(255, 211, 211, 1);
  text-align: center;
  padding: 20px;
  color: rgba(132, 132, 132, 1);

}

/* タブレット縦 /スマートフォン横 */
@media screen and (min-width: 481px) {
  .top_eyecatch h2 {
    font-size: 1.7rem;
    width: 70%;
  }

  .sympathy_contents ul{
    width: 35%;
  }
}

/* デスクトップ/タブレット横 */
@media screen and (min-width: 769px) {
  .hamburger {
    display: none;
  }

  .header-title {
    width: 40%;
    text-align: left;
  }
  .header-nav {
    width: 70%;
    font-size: 1.0rem;
    display: block;
  }

  .flex_content {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0 auto;
  }
  .flex_content li {
    margin: 0 1%;
  }

  .top_eyecatch h2 {
    font-size: 1.8rem;
    width: 50%;
    top: 10%;

  }

  .top_eyecatch p {
    font-size: 1.8rem;
  }
  .summary {
    width: 100%;
  }
  .summary_block {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .summary {
    margin-bottom: 40px;
  }
  .image_block {
    width: 70%;
  }

  .contents_block {
    width: 60%;
  }

  .first-text,
  .second-text {
    text-align: left;
  }

  .sympathy_block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0 30px;
  
  }

  .sympathy_contents {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 5%;
  }

  .sympathy_contents li {
    padding: 10px 0;
  }

  .sympathy_img  {
    width: 50%;
  }
  
  .prev_appeal {
    font-size: 1.3rem;
    line-height: 50px;
  }

  .appeal {
    font-size: 2.5rem;
  }

  .benefit_area {
    display: flex;
    align-items: center;
    margin: 40px 0;
  }

  .benefit_img {
    width: 50%;
    margin: 0 1% 0 5%;
  }
  .benefit_img2 {
    width: 50%;
    margin: 0 5% 0;
  }
  .content_description2 {
    font-size: 1.0rem;
    line-height: 30px;
    width: 80%;
    padding: 50px 0;
    margin: 0 1% 0 20%;
  }

  .img_mobile {
    display: none;
  }

  .img_pc {
    display: block;
  }

  .benefit_contents {
    padding-bottom: 40px;
  }
  .benefit_content {
    width: 40%;
  }

  .flower_detail {
    width: 100%;
    text-align: center;
  }
  

  .flower_detail p {
    padding: 15px 0;
    color: rgb(235, 44, 44);
    font-size: 1.5rem;
  }

  .home_layout img {
    width: 50%;
    margin: 40px 0;
  }

  .solution_area {
    width: 60%;
    padding-bottom: 2%;
  }
  .solution_area ol {
    width: 60%;   
    text-align: center;
  }
  
  .solution_area li {
    padding: 10px 0;
  }
  
  .shipping {
    width: 60%;
  }

  .shipping th,
  .shipping td {
    padding: 15px 0;
  }
  
  .shipping_info p {
    text-align: center;
  }

  .contact_form {
    width: 50%;
  }

  .map_img {
    width: 50%;
    margin: 0 0 0 5%;
  }

  .map_img img {
    width: 80%;
  }

  .company_info {
    font-size: 1.5rem;
  }

  .company_info h3 {
    margin: 0 0 50px;
  }

}